body{
  background-color: rgb(32, 31, 31);
  color: bisque;
}

.name-card{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 203px;
}

.name{
  font-size: 45px;
}

.profile-pic{
  border-radius: 100px;
  box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.4);
  object-fit: cover;
}

.info{
  padding: 20px;
  background-color: rgb(45, 43, 43);
}