*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: rgb(234, 222, 207);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title1{
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.link{
    position: absolute;
    top: 30px;
    left: 1600px;
}

.blog{
    border: 2px solid #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: x-large;
}

.blog-posts{
    padding: 20px;
    background-color: rgb(234, 222, 207);
    border: 2px solid #333;
    border-radius: 8px;
    margin: 10px;
}

.blog-image{
    border-radius: 8px;
}
.title{
    text-decoration: underline;
    font-size: x-large;
}
.author{
    font-size: large;
}
.date{
    font-size: large;
}

p{
    font-size:large;
}