*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: rgb(234, 222, 207);
}

nav {
  display: grid;
  
  grid-template-columns: 1fr auto auto;
  align-items:center;
  gap: 20px;
}

.title1{
    font-size:xx-large;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.link{
    margin: 0;
    padding: 0;
    text-decoration: none;
    white-space: nowrap;
}

.blog{
    border: 2px solid #333;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: x-large;
}

.blog-posts{
    padding: 20px;
    background-color: rgb(234, 222, 207);
    border: 2px solid #333;
    border-radius: 8px;
    margin: 10px;
}

.blog-image{
    border-radius: 8px;
    max-width: 100%;
    height: auto;
    display: block;
}

.title{
    text-decoration: underline;
    font-size: x-large;
}
.author{
    font-size: large;
}
.date{
    font-size: large;
}

p{
    font-size:large;
}

/* for mobile */
@media (max-width: 768px) {
    .blog-posts {
        display: block;
    }
    
    .blog-image {
        max-width: 100%;
        margin-bottom: 15px;
    }
    
    nav {
        grid-template-columns: 1fr auto auto;
        gap: 10px;
    }
    
    .link {
        font-size: 0.9em;
    }
}